.button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-weight: 400;
  height: 44px;
  min-width: 100px;
  font-size: 1.25rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: var(--pink);
  box-shadow: var(--light-pink) 0px 1px 8px 1px;
  border: 0;
  transition: 0.3s ease;
  color: var(--primary-dark);
  &:focus {
    box-shadow: pink 0px 0px 0px 3px;
  }
}
