.header {
  background: var(--primary-dark);
  color: var(--white);
  -webkit-box-shadow: 0 10px 2px rgb(0 0 0 / 80%);
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  position: fixed;
  width: 100%;
  z-index: 999;
  &-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    color: var(--pink);
  }
  &-button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    background: white;
    color: var(--primary-dark);
    transition: ease 0.3s;
    outline: none;
    &:hover,
    &:focus {
      color: white;
      background: var(--pink);
    }

    &-icon {
      width: 1em;
      height: 1em;
      margin-right: 0.25rem;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  &-link {
    margin-right: 1rem;
    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        color: var(--pink);
        &:after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          background-color: var(--pink);
        }
      }
    }

    &--active {
      color: var(--pink);
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: var(--pink);
      }
    }
    &-social {
      height: 1.5em;
      width: 1.5em;
      color: white;
      &:hover {
        color: var(--pink);
      }
    }
  }
  &-social-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      &:focus {
        outline: none;
        color: pink;
      }
    }
  }
}
