@import "mixins";

.banner {
  &-content {
    padding: 1rem;
    background: var(--primary-dark);
    box-shadow: 0 0 7px #eebfec, 0 0 10px #d86ed5, 0 0 21px #d86ed5,
      0 0 42px #a851b2, 0 0 82px #a851b2, 0 0 92px #a851b2, 0 0 151px #a851b2;
    display: inline-block;
    outline: 1px solid #eebfec;
  }
  &-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  &-title {
    display: block;
    width: 400px;
    height: auto;
  }

  &-img {
    border-radius: 2rem;
  }
  &-img-wrapper {
    flex-shrink: 0;
    margin-right: 2rem;
  }
}

.mobile-banner {
  padding-top: 97px;
  position: relative;

  &-title {
    display: block;
    width: 200px;
    height: auto;
  }
  &-content {
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    background: var(--primary-dark);
    display: flex;
    border: 2px solid var(--pink);
  }
}
