.collapse {
  &-section {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--yellow);
    margin-bottom: 1rem;
    &--expanded {
      background: var(--pink);
    }
  }
  &-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--yellow);
    &:hover {
      background: var(--dark-pink);
    }
  }
  &-content {
    padding-left: 3.5rem;
    padding-right: 1rem;
  }
}
