@import "./variables";
@import "./reset";
@import "./mixins";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Heibro", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: var(--primary-dark);
    background: linear-gradient(180deg, #ca0303 4.69%, #0082ff 33.85%, #fbd000 80%);
}

h1,
h2 {
    color: var(--orange);
    font-family: "Battery Park", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}

h3 {
  font-weight: 400;
  font-size: 30px;
}

p {
  font-size: 1.25rem;
  max-width: 1200px;
  line-height: 1.5;
  font-weight: 400;
  @include respond-below(sm) {
    font-size: 1rem;
  }
}

.heart {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em 0.25em;
  animation: beat 5s ease infinite;
  color: #231f20;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.background-section {
  background-image: url("/images/HeaderImage.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 100%;
  margin-top: 4rem;
  @include respond-below(md) {
    height: 300px;
  }
}
.math-wallet-icon {
  background: #000000;
}
.connect-wallet {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-button {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    background: #ffffff;
    &:hover {
      background: #efefef;
    }
    span {
      margin-left: 0.25rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
}

.overflow-scroll {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include respond-below(md) {
    height: 300px;
    overflow-x: scroll;
  }
  .shadow {
    display: none;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 1)
    );
    @include respond-below(md) {
      display: block;
    }
  }
  .gallery-img {
    margin: 0 2rem;
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 400px;
    @include respond-below(md) {
      width: 300px;
      height: 300px;
    }
  }
}

.mb-2 {
  margin-bottom: 4rem;
  @include respond-below(sm) {
    margin-bottom: 2rem;
  }
}

.team-member-card {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: ease 0.3s;

    &:hover {
        .twitterLink {
            background: #13153f;
        }
    }
}

.twitterLink {
    color: var(--yellow);
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    line-height: 1.5;

    &:hover {
        color: var(--orange);
        text-decoration: underline;
    }

    svg {
        width: 2em;
        height: 2em;
        margin-top: 0.25rem;
        margin-right: 1rem;
        flex-shrink: 0;
    }
}
#timeline {
    display: flex;

    &:hover {
        .tl-item {
            width: 23.3333%;
        }
    }
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;

    &:before, &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize(#031625, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 30% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
            background-image: url("../public/images/HeaderImage.jpg");
        }

        .tl-bg1 {
            filter: grayscale(0);
            background-image: url("../public/images/eruption.jpg");
        }

        .tl-bg2 {
            filter: grayscale(0);
            background-image: url("../public/images/lagon.jpg");
        }

        .tl-bg3 {
            filter: grayscale(0);
            background-image: url("../public/images/mariee.jpg");
        }

        .tl-bg4 {
            filter: grayscale(0);
            background-image: url("../public/images/maido.jpg");
        }

        .tl-bg5 {
            filter: grayscale(0);
            background-image: url("../public/images/sable.jpg");
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/HeaderImage.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.tl-bg1 {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/eruption.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.tl-bg2 {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/lagon.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.tl-bg3 {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/mariee.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.tl-bg4 {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/maido.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.tl-bg5 {
    transform: translate3d(0, 0, 0);
    background-image: url("../public/images/sable.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
    border: 1px solid rgb(255, 106, 0);
    border-radius: 6px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #ff6a0024;
    color: #fff;
    font-size: 1.25rem;
    max-width: 1200px;
    line-height: 1.5;
    font-weight: 400;

    @include respond-below(sm) {
        font-size: 1rem;
    }

    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ffd800;
    color: #000000;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__button:hidden {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
