@import "mixins";

.header {
  background: var(--primary-dark);
  color: var(--white);
  -webkit-box-shadow: 0 10px 2px rgb(0 0 0 / 80%);
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 999;
  &-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &-logo {
    width: 150px;
    height: auto;
    display: block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin-right: 3rem;
    color: var(--pink);
    @include respond-below(sm) {
      width: 100px;
      margin-right: auto;
    }
    * {
      pointer-events: none;
    }
  }
  &-button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    background: white;
    color: var(--primary-dark);
    transition: ease 0.3s;
    outline: none;

    @include respond-below(sm) {
      margin-left: auto;
    }

    &:hover,
    &:focus {
      color: white;
      background: var(--pink);
    }

    &-icon {
      width: 1em;
      height: 1em;
      margin-right: 0.25rem;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    @include respond-below(sm) {
      background-color: #13153f;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
  &-link {
    margin-right: 1rem;
    @include respond-below(sm) {
      margin-right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    a {
      font-family: "Oxta", sans-serif;
      position: relative;
      display: flex;
      font-weight: bold;
      align-items: center;
      text-transform: uppercase;
      padding: 1rem;
      cursor: pointer;

      @include respond-below(sm) {
        padding: 0.5rem 1rem;
      }

      &:hover {
        color: var(--pink);
        &:after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          background-color: var(--pink);
        }
      }
    }

    &--active {
      color: var(--pink);
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: var(--pink);
      }
    }
    &-social {
      height: 1.5em;
      width: 1.5em;
      color: white;
      @include respond-below(sm) {
        margin-left: 1rem;
      }
      &:hover {
        color: var(--pink);
      }
    }
  }
  &-social-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      &:focus {
        outline: none;
        color: pink;
      }
    }
  }
}

.mobile-header {
  background: var(--primary-dark);
  color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.5rem 0 0;
  &-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &-top {
    display: flex;
    align-items: center;
  }
}
